{% extends 'index.html' %}

{% block title %}{{ post.title }}{% endblock title %}

{% block content %}
<h1 align="center"> {{ post.title }}</h1><br>
<h5 align="center"> Объявление опубликовано: {{ post.time_create }}</h5><br>
<h2 align="center">Цена: {{ post.price }} рублей</h2><br>
{{ post.description|safe }}<br>
{{ post.author.username }}<br>
<p>Отклинулись уже {{ replies }} раз</p>
{% if new_reply %}
<h4>Ваш отклик отправлен</h4>
{% else %}
<h4>Отправьте отклик на объявление</h4>
<form action="" method="post">
    {% csrf_token %}
    {{ reply_form.as_p }}
    <input type="submit" value="Отправить">
</form>
{% endif %}
{% endblock content %}